header {
    background-color: darkolivegreen;
    margin: 0;
    padding: 10px;
    color: rgb(193, 193, 193);
}

body {
    background-color: rgb(123, 123, 150);
    color:rgb(73, 63, 63);
    margin: 0;
    font-family: 'Montserrat';
}

h1 {
    margin: 0;
    text-align: center;
    font-family: 'Indie flower';
}

h2 {
    padding: 0 0 0 15px;
}

form {
    margin: auto;
    width: 90%;
    padding: 5px;
    border: 1px solid black;
    display: grid;
    grid-template-areas: 
    "details details details"
    "moveOne moveTwo moveThree"
    "submit . .";
}

.details {
    grid-area: details;
}

.move-one, .move-two, .move-three {
    border: 1px solid black;
    margin: 2px;
    padding: 3px;
    background-color: gray;
}

.move-one {
    grid-area: moveOne;
}

.move-two {
    grid-area: moveTwo;
}

.move-three {
    grid-area: moveThree;
}

#submit, #delete {
    grid-area: submit;
    width: 60%;
    margin: auto;
    font-family: 'Montserrat';
    background-color: darkcyan;
    border: none;
    box-shadow: 3px 3px 0 darkgoldenrod;
    width: 80px;
}

#delete {
    width: 80px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Montserrat';
    background-color: darkcyan;
    border: none;
    box-shadow: 3px 3px 0 darkgoldenrod;
}

input, select {
    background-color: darkmagenta;
    color:darkorange;
    font-family: 'Montserrat';
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li {
    width: 200px;
    height: 280px;
    border-radius: 5px;
    border: 4px solid rgb(221, 218, 70);
    margin: 3px;
    background-color: rgb(39, 33, 33);
}

.pokemon-card header {
    height: 20px;
    font-size: 10px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pokemon-card header * {
    margin: auto 5px;
}

.pokemon-card header h2 {
    margin: 0px;
    padding: 0px;
}

.pokemon-image {
    height: 120px;
    width: 180px;
    background-image: url('https://www.fillmurray.com/180/120');
    border: 1px solid black;
    margin: 4px auto;
}

.pokemon-card div {
    display: grid;
    grid-template-areas: "cost title damage"
    "cost description damage";
}

.pokemon-card div * {
    margin: auto;
}

.pokemon-card div div {
    grid-area: cost;
}

.pokemon-card div h4 {
    grid-area: title;
    font-size: 12px;
}

.description {
    grid-area: description;
    font-size: 10px;
}

.damage {
    grid-area: damage;
}

.pokemon-card:hover {
    margin: -15px 7px 18px -1px;
    box-shadow: 6px 11px 3px rgb(69, 66, 66, 0.5);
    /* z-index: -1; */
}

.fire {
    background-color: rgb(219, 89, 89);
}
.lightning {
    background-color: rgb(160, 161, 90);
}
.water {
    background-color: rgb(70, 104, 156);
}
.psychic {
    background-color: rgb(151, 78, 200);
}
.grass {
    background-color: rgb(53, 119, 70);
}